<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <div class="h-100" >

        <div class="sidebar-content">
            <div class="sidebar-icon-menu h-100" data-simplebar>
                <!-- LOGO -->
                <a href="index.html" class="logo">
                    <span>
                        <img src="assets/images/logo-sm-light.png" alt="" height="28">
                    </span>
                </a>
                <nav class="nav flex-column" id="two-col-sidenav-main">
                    <a class="nav-link active" href="#dashboards" data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboard" data-bs-trigger="hover">
                        <i data-feather="home"></i>
                    </a>
                    <a class="nav-link" href="#apps" data-bs-toggle="tooltip" data-bs-placement="right" title="Apps" data-bs-trigger="hover">
                        <i data-feather="grid"></i>
                    </a>
                    <a class="nav-link" href="#pages" data-bs-toggle="tooltip" data-bs-placement="right" title="Pages" data-bs-trigger="hover">
                        <i data-feather="file-text"></i>
                    </a>
                    <a class="nav-link" href="#layouts" data-bs-toggle="tooltip" data-bs-placement="right" title="Layouts" data-bs-trigger="hover">
                        <i data-feather="layout"></i>
                    </a>
                    <a class="nav-link" href="#components" data-bs-toggle="tooltip" data-bs-placement="right" title="Components" data-bs-trigger="hover">
                        <i data-feather="package"></i>
                    </a>
                    <a class="nav-link" href="widgets.html" data-bs-toggle="tooltip" data-bs-placement="right" title="Widgets" data-bs-trigger="hover">
                        <i data-feather="gift"></i>
                    </a>
                </nav>
            </div>
            <!--- Sidemenu -->
            <div class="sidebar-main-menu">
                <div id="two-col-menu" class="h-100" data-simplebar>
                    <div class="twocolumn-menu-item" id="dashboards">
                        <div class="title-box">
                            <h5 class="menu-title">Dashboards</h5>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a href="index.html" class="nav-link">Ecommerce</a>
                                </li>
                                <li class="nav-item">
                                    <a href="layouts-horizontal.html" class="nav-link">Analytics</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="twocolumn-menu-item" id="apps">
                        <h5 class="menu-title">Apps</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="apps-calendar.html">Calendar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="apps-chat.html">Chat</a>
                            </li>
                            <li class="nav-item">
                                <a href="#sidebarEmail" data-bs-toggle="collapse" class="nav-link">
                                    <span> Email </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <div class="collapse" id="sidebarEmail">
                                    <ul class="nav-second-level">
                                        <li><a href="email-inbox.html">Inbox</a></li>
                                        <li><a href="email-read.html">Read Email</a></li>
                                        <li><a href="email-compose.html">Compose Email</a></li>
                                    </ul>
                                </div>
                            </li>
                           
                            <li class="nav-item">
                                <a href="#sidebarProjects" data-bs-toggle="collapse" class="nav-link">
                                    <span> Projects </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <div class="collapse" id="sidebarProjects">
                                    <ul class="nav-second-level">
                                        <li><a href="project-list.html">List</a></li>
                                        <li><a href="project-detail.html">Detail</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="#sidebarTasks" data-bs-toggle="collapse" class="nav-link">
                                    <span> Tasks </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <div class="collapse" id="sidebarTasks">
                                    <ul class="nav-second-level">
                                        <li><a href="task-list.html">List</a></li>
                                        <li><a href="task-board.html">Kanban Board</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="apps-file-manager.html">File Manager</a>
                            </li>
                        </ul>
                    </div>

                    <div class="twocolumn-menu-item" id="pages">
                        <div class="title-box">
                            <h5 class="menu-title">Pages</h5>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a href="pages-starter.html" class="nav-link">Starter</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages-profile.html" class="nav-link">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages-activity.html" class="nav-link">Activity</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages-invoice.html" class="nav-link">Invoice</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages-pricing.html" class="nav-link">Pricing</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages-maintenance.html" class="nav-link">Maintenance</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages-login.html" class="nav-link">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages-register.html" class="nav-link">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages-logout.html" class="nav-link">Logout</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages-recoverpw.html" class="nav-link">Recover Password</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages-lock-screen.html" class="nav-link">Lock Screen</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages-confirm-mail.html" class="nav-link">Confirm</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages-404.html" class="nav-link">Error 404</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages-500.html" class="nav-link">Error 500</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="twocolumn-menu-item" id="layouts">
                        <div class="title-box">
                            <h5 class="menu-title">Layouts</h5>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="index.html">Vertical</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="layouts-horizontal.html">Horizontal</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="layouts-detached.html">Detached</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="layouts-two-column.html">Two Column Menu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="layouts-preloader.html">Preloader</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="twocolumn-menu-item" id="components">
                        <div class="title-box">
                            <h5 class="menu-title">Components</h5>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="ui-elements.html">UI Elements</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#sidebarIcons" data-bs-toggle="collapse" class="nav-link">
                                        <span> Icons </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <div class="collapse" id="sidebarIcons">
                                        <ul class="nav-second-level">
                                            <li><a href="icons-feather.html">Feather Icons</a></li>
                                            <li><a href="icons-unicons.html">Unicons Icons</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="charts.html">Charts</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#sidebarForms" data-bs-toggle="collapse" class="nav-link">
                                        <span> Forms </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <div class="collapse" id="sidebarForms">
                                        <ul class="nav-second-level">
                                            <li><a href="forms-basic.html">Basic Elements</a></li>
                                            <li><a href="forms-advanced.html">Advanced</a></li>
                                            <li><a href="forms-validation.html">Validation</a></li>
                                            <li><a href="forms-wizard.html">Wizard</a></li>
                                            <li><a href="forms-editor.html">Editor</a></li>
                                            <li><a href="forms-file-uploads.html">File Uploads</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a href="#sidebarTables" data-bs-toggle="collapse" class="nav-link">
                                        <span> Tables </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <div class="collapse" id="sidebarTables">
                                        <ul class="nav-second-level">
                                            <li><a href="tables-basic.html">Basic Tables</a></li>
                                            <li><a href="tables-datatables.html">Data Tables</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a href="#sidebarMaps" data-bs-toggle="collapse" class="nav-link">
                                        <span> Maps </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <div class="collapse" id="sidebarMaps">
                                        <ul class="nav-second-level">
                                            <li><a href="maps-google.html">Google Maps</a></li>
                                            <li><a href="maps-vector.html">Vector Maps</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a href="#sidebarMultilevel" data-bs-toggle="collapse" class="nav-link">
                                        <span> Multi Level </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <div class="collapse" id="sidebarMultilevel">
                                        <ul class="nav-second-level">
                                            <li>
                                                <a href="#sidebarMultilevel2" data-bs-toggle="collapse">
                                                    Second Level <span class="menu-arrow"></span>
                                                </a>
                                                <div class="collapse" id="sidebarMultilevel2">
                                                    <ul class="nav-second-level">
                                                        <li><a href="javascript: void(0);">Item 1</a></li>
                                                        <li><a href="javascript: void(0);">Item 2</a></li>
                                                    </ul>
                                                </div>
                                            </li>                
                                            <li><a href="#">Third Level</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
            <div class="clearfix"></div>
        </div>
        <!-- End Sidebar -->

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->